h1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    background-color: black;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: black;
}

P{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}